<!DOCTYPE html>
<html>
  <head>
    {% if title %}
    <title>{{ title }} - UZI Interface</title>
    {% else %}
    <title>UZI Interface</title>
    {% endif %}
  </head>
  <body>
    <div>
      UZI: 
      <a href="{{ url_for('index') }}">Все АЗС</a>
      <a href="{{ url_for('add_azs') }}">Добавить АЗС</a>
      <a href="{{ url_for('select_azs') }}">Выбор АЗС</a>
      <a href="{{ url_for('logs') }}">Логи</a>
      {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Вход</a>
      {% else %}
        <a href="{{ url_for('user', username=current_user.username) }}">Профиль</a>
        <a href="{{ url_for('logout') }}">Выход</a>
      {% endif %}
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
