{% extends 'base.html' %}

{% block content %}
  <h1>Изменение АЗС</h1>
  <form action='' method='post'>
    {{ form.hidden_tag() }}
<p>{{ form.submit() }}</p>

<h2>Общее:</h2>
  <table border=1 width=100%>
    <tr valign="top">
        <td>КОД</td><td>РУ</td><td>Номер</td><td>Hostname</td><td>Адрес</td><td>МСС IP</td><td>Сервис</td>
    </tr>
        <tr valign="top">
            <td>      
                <!-- {{ form.sixdign.label }}<br> -->
                {{ form.sixdign(size=4, readonly=true) }}<br>
                {% for error in form.sixdign.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </td>
          <td>      
                <!-- {{ form.ru.label }}<br> -->
                {{ form.ru }}<br>
                {% for error in form.ru.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </td>
            <td>      
                <!-- {{ form.num.label }}<br> -->
                {{ form.num(size=1) }}<br>
                {% for error in form.num.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </td>
            <td>      
                {{ form.hostname(size=14) }}<br>
                {% for error in form.hostname.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </td>
            <td>      
                <!-- {{ form.address.label }}<br> -->
                {{ form.address(size=24) }}<br>
                {% for error in form.address.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </td>
            <td>      
                <!-- {{ form.address.label }}<br> -->
                {{ form.mss_ip(size=10) }}<br>
                {% for error in form.mss_ip.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </td>
            <td>      
                {{ form.active }}<br>
            </td>
        </tr>
  </table>

<hr>

<h2>Дополнительное:</h2>

<table border=1 width=100%>
    <tr valign="top">
        <td>ДЗО</td><td>Менеджмент</td><td>Тип АЗС</td>
    </tr>

    <tr valign="top">
        <td>      
            <!-- {{ form.dzo.label }}<br> -->
            {{ form.dzo }}<br>
            {% for error in form.dzo.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </td>
        <td>      
            <!-- {{ form.azs_type.label }}<br> -->
            {{ form.region_mgmt }}<br>
            {% for error in form.region_mgmt.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </td>
        <td>      
            <!-- {{ form.azs_type.label }}<br> -->
            {{ form.azs_type }}<br>
            {% for error in form.azs_type.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </td>
    </tr>
</table>

<hr>

<h2>Криптошлюз:</h2>
  <table border=1 width=100%>
    <tr valign="top">
        <td>Модель</td><td>Серийный номер</td><td>Номер лицензии</td><td>Установлен</td>
    </tr>
        <tr valign="top">
            <td>      
                {{ form.gate_model }}<br>
                {% for error in form.gate_model.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </td>
            <td>      
                {{ form.gate_serial(size=5) }}<br>
                {% for error in form.gate_serial.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </td>
            <td>      
                {{ form.gate_lic(size=5) }}<br>
                {% for error in form.gate_lic.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </td>
            <td>      
                {{ form.gate_install(size=10) }}<br>
                {% for error in form.gate_install.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </td>
        </tr>
  </table>

<hr>

<h2>Маршрутизатор:</h2>
  <table border=1 width=100%>
    <tr valign="top">
        <td>Модель</td><td>Серийный номер</td><td>Установлен</td>
    </tr>
        <tr valign="top">
            <td>      
                {{ form.router_model }}<br>
                {% for error in form.router_model.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </td>
            <td>      
                {{ form.router_serial(size=5) }}<br>
                {% for error in form.router_serial.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </td>
            <td>      
                {{ form.router_install(size=10) }}<br>
                {% for error in form.router_install.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </td>
        </tr>
  </table>



    <p>{{ form.submit() }}</p>
  </form>
<p><a href="{{ url_for('index') }}">На главную...</a></p>
{% endblock %}
