{% extends 'base.html' %}

{% block content %}
  <h1>Hello, {{ current_user.username }}!</h1>
  <table border=1 width=100%>
    <tr valign="top">
        <td>КОД</td><td>РУ</td><td>Номер</td><td>Hostname</td><td>Адрес</td><td>Подсети</td><td>Добавлен</td><td>В сервисе</td>
    </tr>
    {% for azs in azses %}
        <tr valign="top">
          <td><a href="{{ url_for('change_azs', id=azs.id) }}">{{ azs.sixdign }}</a></td>
          <td>{{ azs.RU.name }}</td>
          <td>{{ azs.num }}</td>
          <td>{{ azs.hostname }}</td>
          <td>{{ azs.address }}</td>
          <td><a href="{{ url_for('ip_azs', id=azs.id) }}">{{ azs.mss_ip }}</a></td>
          <td>{{ azs.data_added }}</td>
          <td>{{ azs.active }}</td>
        </tr>
    {% endfor %}
  </table>
{% endblock %}
