{% extends 'base.html' %}

{% block content %}
    <form action="/select_ints" method="post">
        <button type="submit">Перейти к выбору интерфейсов</button>
        {% for ru in rus %}
            <h2>{{ ru.name }}</h2>
                <table cellspacing="10" border="1">
                    {% for unit in azses if unit == ru.id %}
                        {% for pack in azses[unit] %}
                            <tr>
                            {% for azs in pack %}
                                <td><input type="checkbox" name="{{ azs[0] }}">{{ azs[1] }}</td>
                            {% endfor %}
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </table>
        {% endfor%}
    </form>
{% endblock %}
